#transactions_board {
  flex-grow: 1;
  padding: 1.8rem 1.5rem;
}
#copyButton {
  padding: 5 10px;
  background-color: transparent;
  color: #333;
  border: none;
  cursor: pointer;
}
.widget-transactions {
  list-style: none;
  text-transform: capitalize;
  background: #fff;
  color: #333;
  box-shadow: 0 1px 3px #666666;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
  grid-area: balance;

  & span:first-child {
    text-transform: uppercase;
    font-size: 1.05rem;
    font-weight: 900;
  }
  & .product-type {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  & .date-info {
    display: flex;
    gap: 0.5rem;
  }
}
.widget-balance {
  text-transform: capitalize;
  background: #fff;
  color: #333;
  box-shadow: 0 1px 3px #666666;
  border-radius: 10px;
  padding: 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
  grid-area: balance;

  & span:first-child {
    text-transform: uppercase;
    font-size: 1.05rem;
    font-weight: 900;
  }
  & .product-type {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  & .card-info {
    display: flex;
    align-items:center;
    gap: 0.5rem;
  }
}
.my_products {
  padding: 1rem;
  grid-area: transactions;
  color: #333;
}
.container-product-info {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  gap: 1rem;
}
.available_balance {
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.fs-1 {
  font-size: 1rem;
}
.fs-2 {
  font-size: 1.25rem;
}
.paid {
  color: #66c00b;
}
.received {
  color: #ff1708;
}

@media (max-width: 767px) {
  .widget-balance {
    flex-grow: 1;
    padding: 1.8rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px 1rem;
    grid-template-areas:
      "."
      " .";
  }
}

@media (max-width: 425px) {
  .widget-balance .container-product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    gap: 1rem;
    & .available_balance {
      align-items: start;
    }
  }
}
