#user_data {
  padding: 1rem;
}

.container_user_data {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  font-weight: 600;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#profileForm {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em 1em;
  grid-template-areas:
    "avatar name last_name"
    ". username email"
    ". change_password ."
    ". btn_save btn_delete";
}
.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  font-family: inherit;
  width: 100%;
  padding: 10px;
  background-color: #5ad678;
  color: #fff;
  border: none;
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}

button.danger {
  background-color: #dc3545;
}

button:hover {
  opacity: 0.9;
}
.form-group:nth-of-type(1) {
  grid-area: name;
}

.form-group:nth-of-type(2) {
  grid-area: last_name;
}

.form-group:nth-of-type(3) {
  grid-area: username;
}

.form-group:nth-of-type(4) {
  grid-area: email;
}
.form-group:nth-of-type(5) {
  grid-area: change_password;
  align-self: center;
}

#btn_save {
  grid-area: btn_save;
}
#btn_deleteAccount {
  grid-area: btn_delete;
}
.profile-changePassword {
  font-size: 14px;
  color: #32a7e5;
  text-underline-offset: 3px;
  margin: 8px 0 25px;
}
.profile-changePassword:before {
  content: url(/images/profile/icon-change-password-blue.svg);
  vertical-align: middle;
  margin-right: 7px;
}

a {
  cursor: pointer;
}

/* card  */
.card {
  width: 300px;
  height: fit-content;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  position: relative;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.068);
}
.card-content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card-heading {
  font-size: 20px;
  font-weight: 700;
  color: rgb(27, 27, 27);
}
.card-description {
  font-size: 1.15rem;
  font-weight: 600;
  color: rgb(102, 102, 102);
}
.card-button-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.card-button {
  width: 50%;
  height: 35px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.primary {
  background-color: rgb(255, 114, 109);
  color: white;
}
.primary:hover {
  background-color: rgb(255, 73, 66);
}
.secondary {
  color: #333;
  background-color: #ddd;
}
.secondary:hover {
  background-color: rgb(197, 197, 197);
}
.exit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.exit-button:hover svg {
  fill: black;
}
.exit-button svg {
  fill: rgb(175, 175, 175);
}
.input-group input[type="password"] {
  border-radius: 0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn:disabled {
  pointer-events: none;
  opacity: 0.65;
}
.password-rules {
  margin: 1rem 0;
}
.password-rules-title {
  color: #747c81;
  font-weight: 700;
  margin-bottom: 10px;
}
.password-rules-list li {
  color: #747c81;
  display: grid;
  align-items: center;
  grid-template-columns: 15px 1fr;
  grid-column-gap: 10px;
}

.password-rules-list li:before {
  content: "";
  display: inline-block;
  background: url(/images/passwords/icon-rule-incomplete.svg) no-repeat 50%;
  background-size: contain;
  font-weight: 600;
  width: 12px;
  height: 12px;
  margin-right: 10px;
}

.password-rules-list li.check {
  color: #1cd59a;
}
.password-rules-list li.check:before {
  background-image: url(/images/passwords/icon-rule-completed.svg);
}
.success {
  color: #1cd59a;
}
.error {
  color: rgb(255, 56, 56);
}
.password_match_message {
  display: flex;
  align-items: center;
  height: 2rem;
}
.passwords-not-match {
  display: none;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.passwords-not-match.--error-show {
  opacity: 1;
  display: block;
}
.passwords-match {
  display: none;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.passwords-match.--check-show {
  opacity: 1;
  display: block;
}

@media (min-width: 576px) {
  .modal {
    --bs-modal-margin: 1.75rem;
    --bs-modal-box-shadow: var(--bs-box-shadow);
  }
  .modal_dialog {
    max-width: var(--bs-modal-width);
    margin-right: auto;
    margin-left: auto;
  }
}
/*  /card  */
@media (max-width: 767px) {
  #profileForm {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em 1em;
    grid-template-areas:
      "avatar"
      "name"
      "last_name"
      "username"
      "email"
      "change_password"
      "btn_save"
      "btn_delete";
  }
}
